#box5 {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRmE2_lwrzkN9rhX7NSYs_8GekVRN2K2OIeKg&s ");
        background-repeat: no-repeat;
    background-size: 100% 100%;
}

#box2 {
    background-image: url("https://m.media-amazon.com/images/S/pv-target-images/2c15039f5a042d35697c1907d304ead7b9071d58cc3c75f97e5fa44fecdc704a.jpg ");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#box7 {
    background-image: url(" https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS2z_mlvfZKvuBht84w7ekA7FJoT8lCmm2Irquk2SMGF59ihFjB62r6NWA081-flICJmHs&usqp=CAU");
        background-repeat: no-repeat;
    background-size: 100% 100%;
}

#box8 {
    background-image: url(" https://m.media-amazon.com/images/M/MV5BNWI3OGE2ZTAtMzkwZC00NTgwLThlNTItMmQ3N2E2MDQ5YTcyXkEyXkFqcGdeQXVyMTExMTIzMTA5._V1_.jpg");
        background-repeat: no-repeat;
    background-size: 100% 100%;
}

#box4 {
    background-image: url(" https://i.ytimg.com/vi/kpqMv9Kmvho/hq720.jpg?sqp=-oaymwEhCK4FEIIDSFryq4qpAxMIARUAAAAAGAElAADIQj0AgKJD&rs=AOn4CLB9_5yebxNzpOz8w_sH2TTvxoT_Xg");
        background-repeat: no-repeat;
    background-size: 100% 100%;
}

#box1 {
    background-image: url("https://i.ytimg.com/vi/LCXtsRCE5Y0/maxresdefault.jpg ");
        background-repeat: no-repeat;
    background-size: 100% 100%;
}

#box6 {
    background-image: url(" https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSTbiY6wTWSLJa1DRH3StMINXWpqGxHjwlkfw&s");
        background-repeat: no-repeat;
    background-size: 100% 100%;
}

#box3 {
    background-image: url(" https://b.zmtcdn.com/data/pictures/8/800468/06fed43fb8cd1999deafdd46b949a55d.jpg?fit=around|750:500&crop=750:500;*,*");
        background-repeat: no-repeat;
    background-size: 100% 100%;
}

#box9 {
    background-image: url(" ");
        background-repeat: no-repeat;
    background-size: 100% 100%;
}

#box10 {
    background-image: url(" ");
        background-repeat: no-repeat;
    background-size: 100% 100%;
}

#box11 {
    background-image: url(" ");
        background-repeat: no-repeat;
    background-size: 100% 100%;
}

#box12 {
    background-image: url(" ");
        background-repeat: no-repeat;
    background-size: 100% 100%;
}

#box13 {
    background-image: url(" ");
        background-repeat: no-repeat;
    background-size: 100% 100%;
}

#box14 {
    background-image: url(" ");
        background-repeat: no-repeat;
    background-size: 100% 100%;
}

#box15 {
    background-image: url(" ");
        background-repeat: no-repeat;
    background-size: 100% 100%;
}

#box16 {
    background-image: url(" ");
        background-repeat: no-repeat;
    background-size: 100% 100%;
}

#box17 {
    background-image: url(" ");
        background-repeat: no-repeat;
    background-size: 100% 100%;
}

#box18 {
    background-image: url(" ");
        background-repeat: no-repeat;
    background-size: 100% 100%;
}

#box19 {
    background-image: url(" ");
        background-repeat: no-repeat;
    background-size: 100% 100%;
}

#box20 {
    background-image: url(" ");
        background-repeat: no-repeat;
    background-size: 100% 100%;
}

#box21 {
    background-image: url(" ");
        background-repeat: no-repeat;
    background-size: 100% 100%;
}

#box22 {
    background-image: url(" ");
        background-repeat: no-repeat;
    background-size: 100% 100%;
}

#box23 {
    background-image: url(" ");
        background-repeat: no-repeat;
    background-size: 100% 100%;
}

#box24 {
    background-image: url(" ");
        background-repeat: no-repeat;
    background-size: 100% 100%;
}
